<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Arshad</title>
</head>
<body>
        <h1>
          Contact Arshad!
        </h1>
        <div>
          <form action="/" method = "POST"> 
            <label for="1">Enter Name:</label>
            <input id = "1" type="text" name = "Name" placeholder="Enter name:">
            <label for="2">Enter Email:</label>
            <input id = "2" type="email" name = "Email" placeholder="Enter email:">
            <button>Submit</button>
          </form>
        </div>
</body>
</html>